<div *ngIf="repositoriesLoading" class="flex justify-center items-center h-full">
    <span class="loading loading-infinity loading-lg"></span>
  </div>
  
  <div *ngIf="!repositoriesLoading" class="flex flex-col justify-between h-full gap-2">
    <div *ngIf="repositoryCollection?.repositories?.length === 0" class="flex justify-center items-center h-full">
      <p class="text-center text-gray-500">No repositories found</p>
    </div>
    
    <div *ngIf="repositoryCollection?.repositories" class="grid gap-x-10 gap-y-10 grid-cols-1 2xl:grid-cols-4 lg:grid-cols-3">
      <app-repository class="flex full-center"
        *ngFor="let repository of repositoryCollection?.repositories" [repository]="repository"></app-repository>
    </div>
    
    <div class="join justify-center">
      <button
        class="join-item btn"
        *ngFor="let page of [].constructor(repositoryCollection?.totalPages); let i = index"
        [ngClass]="{
          'btn-active': repositoryCollection?.currentPage === i + 1,
          'btn-disabled': repositoryCollection?.currentPage === i + 1
        }"
        (click)="changePage(i + 1)"
        [attr.disabled]="repositoryCollection?.currentPage === i + 1 ? true : null"
      >
        {{i + 1}}
      </button>
    </div>
  </div>